:root {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

}

* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    z-index: 0;
    font-family: "Inter", sans-serif;
    /* font-family: "sohne-var", "Helvetica Neue", Arial, sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Vollkorn", serif; */
    /* font-optical-sizing: auto; */
    /* font-weight: 600; */
    font-style: normal;
}

body{
    overflow-x: hidden;
}

/* background canvas */

#gradient-canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -100;
    --gradient-color-4: #15015f;
    --gradient-color-1: #005F87;
    --gradient-color-3: #77C5E6;
    --gradient-color-2: #ebf9ff;
    /* --gradient-color-1: #67b9d9;
    --gradient-color-2: #8ccee8;
    --gradient-color-3: #aedef1;
    --gradient-color-4: #ebf9ff; */
}

/* colors from brochure */
/* 
    0B0031 -- dark blue
    005F87 -- lighter blue
    77C5E6 -- light blue
    F4F5FC -- blue - white
    FFFFFF -- white
*/

.glass {
    backdrop-filter: blur(20px)
}

/* section headers */

.sectionHeader {
    text-align: center;
    max-width: 100vw;
    text-align: center;
    mix-blend-mode: color-burn;
    font-size: 5rem;
    margin: 50px 15vw 30px 15vw;
    text-wrap: wrap;
  }

@media only screen and (max-width: 600px) {
    .sectionHeader {
        text-align: center;
        max-width: 100vw;
        text-align: center;
        mix-blend-mode: color-burn;
        font-size: 3rem;
        margin: 50px 10vw 30px 10vw;
        text-wrap: wrap;
      }
}

.footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(2, 0, 8);
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: rgb(27, 0, 109); */
    width: 70%;
}

.footerColFat {
    width: 30%;
    min-width: 165px;
}

.footerColThin {
    width: 15%;
    min-width: 165px;
}

.footerColHeading {
    color: white;
    text-decoration: underline 1px white;
    line-height: 3rem;
    font-weight: 800;

}

.footerCol {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.FooterLink>a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: inherit;
}

a>li {
    width: inherit;
    line-height: 2rem;
}

@media (max-width: 750px) {


    .footer {
        width: 90%;
    }

    .footerColFat {
        width: 100%;
    }

    .footerColThin {
        width: 100%;
    }

    .footerCol {
        align-content: center;
    }

    .footerColHeading {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: inherit;
        font-weight: 800;
    }

    .footerColList {
        width: inherit;
    }

    .FooterLink {
        width: inherit;
    }

    .FooterLink>a {
        text-decoration: none;
        color: inherit;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: inherit;
    }

    a>li {
        width: inherit;
        line-height: 2rem;
        list-style-type: none;
    }
}